.main-container {
    display: flex;
    width: 80%;
    height: 550px;
    margin: 0 auto;
    border: 2px, solid, white;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    justify-content: space-around;
    padding: 2%;
}

.left-container {
    width: 30%;
    height: 100%;
    background-image: url(../images/bg-sidebar-desktop.svg);
    object-fit: cover;
    background-repeat: no-repeat;
    border: 2px solid white;
    border-radius: 10px;
    background-size: 100%;
    background-position: center;

}
.steps {
    display: flex;
    margin-left: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.info-steps {
    margin-bottom: 0.0;
    color: hsl(231, 11%, 63%)
}
.my-info {
    margin-top: 0.0;
    color: hsl(0, 0%, 100%);
}

.number {
    text-align: center;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    padding-top: 14px;
    background-color: transparent;
    color: white;
}

.right-container {
    width: 60%;
    height: 100%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 18;
    margin-top:0;
    height: 20%
}

.my-button {
    background-color: hsl(213, 96%, 18%);
    color: white;
    width: 30%;
    height: 50px;
    border: 1px, solid, hsl(213, 96%, 18%);
    border-radius: 10px;
}